<!DOCTYPE html>
<html lang="pt-BR">

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock meta %}

  <!-- Tailwind CSS-->
  <link href="/static/app.css" rel="stylesheet">

  <!-- Incluindo o bundle js | Franken UI + Alpine -->
  <script src="/static/app.js" type="module"></script>

  <title>{% block title %}{% endblock title %}</title>

  {% block head %}

  {% endblock head %}
</head>

{% block body %}

<body>

</body>
{% endblock body %}

</html>